
.hero-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-video{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
}

.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100px;
    margin: 2rem 3rem;
    border: 1px solid red;
}